[submodule "website/editions/2017"]
	path = website/editions/2017
	url = https://github.com/microservices-community/microservices-2017.git
[submodule "website/editions/2019"]
	path = website/editions/2019
	url = https://github.com/microservices-community/microservices-2019
[submodule "website/editions/2020"]
	path = website/editions/2020
	url = https://github.com/microservices-community/microservices-2020.git
[submodule "website/editions/2022"]
	path = website/editions/2022
	url = https://github.com/microservices-community/microservices-2022.git
[submodule "website/editions/2023"]
	path = website/editions/2023
	url = https://github.com/microservices-community/microservices-2023.git
